# Terraform Files
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup
**/admin.conf

# Ansible Files
**/*.retry
**/ansible/hosts
**/ansible/inventories
**/ansible/roles/*
!**/ansible/roles/lucastercas.*/*